body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

.rdstyle{
    font-size: 58%;
    margin-left: 37%;
    margin-top: -9%;
    transform: rotateZ(-30deg);
}
.tResucito{
    color: #bc0009;
    font-size: 454%;
    text-align: center;
}

.cima {
    width: 20%;
    padding: 3%;
}

header {
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd;
}

h1 {
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5rem;
    color: #666;
    font-weight: normal;
    margin-top: 0;
}

.controls {
    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
}

.search-container {
    display: flex;
    align-items: baseline;
}

.filter-toggle-button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    margin-right: -5px;
}

.filter-toggle-button:hover {
    background-color: #2196F3;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 16px;
}

#clearSearch {
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
}

#clearSearch:hover {
    background-color: #d32f2f;
}

.filters-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #eee;
}

.filters {
    margin-top: 0;
}

.filters h3 {
    margin-bottom: 10px;
    color: #555;
}

.category-filters, .moment-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-filter, .moment-filter {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.category-filter:hover, .moment-filter:hover {
    opacity: 0.8;
}

.category-filter[data-category="Precatecumenado"] {
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
}

.category-filter[data-category="Catecumenado"] {
    background-color: #2196F3;
    color: white;
}

.category-filter[data-category="Eleccion"] {
    background-color: #8BC34A;
    color: white;
}

.category-filter[data-category="Liturgia"] {
    background-color: #FFEB3B;
    color: #333;
}

.moment-filter {
    background-color: #9E9E9E;
    color: white;
}

.moment-filter.active {
    background-color: #607D8B;
    font-weight: bold;
}

.songs-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
}

.song-card { /* Esta es la tarjeta del canto*/
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: white;
    padding: 4px;       /* Estaba en 20px */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.song-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.song-title {
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: #222;
}

.song-subtitle {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    margin-top: -5px;
}

.song-category {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 5px;
    /*margin-bottom: 5px;*/
}

.song-moment {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: #607D8B;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}

.song-card[data-category="Precatecumenado"] {
    border: 1px solid #9e9e9ed9;
    border-left: 5px solid #9e9e9ed9;
    color: #ddd;
    box-shadow: 10px 6px 10px #9e9e9ed9;

}

.song-card[data-category="Catecumenado"] {
    border-left: 5px solid #2196F3;
}

.song-card[data-category="Eleccion"] {
    border-left: 5px solid #8BC34A;
}

.song-card[data-category="Liturgia"] {
    border-left: 5px solid #FFEB3B;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .search-container {
        flex-wrap: wrap;
    }
    
    .filter-toggle-button {
        border-radius: 20px 20px 0 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .search-container input {
        border-radius: 0;
        margin-bottom: 5px;
    }
    
    #clearSearch {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    
    .category-filters, .moment-filters {
        flex-direction: column;
    }
}

@media (max-width: 384px) {
    .cima {
        width: 50%;
        margin-top: -9%;
    }
    #clearSearch {
        width: 26%;
        border-radius: 0 20px 20px 0;
    }
        .search-container input {
            border-radius: 0;
            margin-bottom: 5px;
            width: 40%;
        }
        .filter-toggle-button {
            width: 26%;
            border-radius: 20px 0 0 20px;
        }

        .filter-toggle-button {
            background-color: #2196F3;
            color: white;
            border: none;
            border-radius: 20px 0 0 20px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;
            margin-right: -5px;
            }

 .rdstyle{
    font-size: 58%;
    margin-left: 84%;
    margin-top: -14%;
    transform: rotateZ(-30deg);
}


.tResucito{
    color: #bc0009;
    
    text-align: center;
}

.punto-rojo {
    display: none;
    color: red;
    font-size: 1em;
    margin-left: 66%;
    margin-top: 1px;
  }

/*FIND DEL 384PX*/
}


.resucito-linea {
    display: flex;
    align-items: center;
    gap: 4px; /* Espacio entre elementos */
    white-space: nowrap; /* Evita saltos de línea */
  }
  

  
  .rd-colores {
    font-size: 0.7em; /* Más pequeño que "RESUCITÓ" */
    display: inline-flex;
  }
  
  .r-azul {
    color: blue;
  }
  
  .d-rojo {
    color: red;
  }

  .d-blanco {
    color: #6b4323cd;
  }

  