body {
  font-family: Arial, sans-serif;
}

.hline {
  margin: 10px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

.coro-group {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc; /* Opcional: Borde para separar grupos */
  border-radius: 5px;
}
