      /* CSS PARA LIBRO DE CANTOS*/
      @font-face {
        font-family: 'Libre Franklin';
        src: url('cantos/src/fonts/LibreFranklin-Bold.ttf') format('truetype');
        font-weight: 700; /* Bold */
        font-style: normal;
        font-display: swap; /* Mejor experiencia de carga */
      }

      @font-face {
        font-family: 'Material Symbols Outlined Local';
        font-style: normal;
        font-weight: 100 700;
        src: url('/cantos/src/font/font.woff2') format('woff2'); /* Ajusta la ruta según tu estructura */
      }

      body {background-color: #f9f9f9;}

      a {text-decoration: none;}

        .lyrics {
        width: max-content;
        position: relative;
        white-space: nowrap; /* Evita saltos de línea inesperados */
        font-size: 1.2rem; /* Tamaño consistente en todos los dispositivos */
        font-family: 'Franklin Gothic', 'Libre Franklin', Arial, sans-serif; /* Fuente fija */
        letter-spacing: normal; /* Evita espaciado variable */
        z-index: 1;

        @media (min-width: 384px) {font-size: 1.07rem;}
        @media (min-width: 412px) {font-size: 1.2rem;}
        @media (min-width: 576px) {font-size: 1.2rem;}
        @media (min-width: 768px) {font-size: 1.3rem;}
        @media (min-width: 992px) {font-size: 1.2rem;}
        @media (min-width: 1200px) {font-size: 1.2rem;} /* HD (1080p) */
        @media (min-width: 1920px) {font-size: 1.2rem;} /* FHD(2K/4K) */
        }

        .alyrics {
        width: max-content;
        position: relative;
        white-space: nowrap; /* Evita saltos de línea inesperados */
        font-family: 'Franklin Gothic', 'Libre Franklin', Arial, sans-serif; /* Fuente fija */
        font-size: 1.2rem; /* Tamaño consistente en todos los dispositivos */
        font-weight: bold;
        letter-spacing: normal; /* Evita espaciado variable */
        z-index: 1;

        @media (min-width: 384px) {font-size: 1.07rem;}
        @media (min-width: 412px) {font-size: 1.2rem;}
        @media (min-width: 576px) {font-size: 1.2rem;}
        @media (min-width: 768px) {font-size: 1.745rem;}
        @media (min-width: 992px) {font-size: 1.2rem;}
        @media (min-width: 1200px) {font-size: 1.2rem;} /* HD (1080p) */
        @media (min-width: 1920px) {font-size: 1.2rem;} /* FHD(2K/4K) */
        }
  
        .csv {
          font-style: italic;
          color: red;
          margin-left: 0px;
          font-size: 1.2rem;

          @media (min-width: 384px) {font-size: 1.07rem;}
          @media (min-width: 412px) {font-size: 1.2rem;}
          @media (min-width: 576px) {font-size: 1.2rem;}
          @media (min-width: 768px) {font-size: 1.5rem;}
          @media (min-width: 992px) {font-size: 1.2rem;}
          @media (min-width: 1200px) {font-size: 1.2rem;} /* HD (1080p) */
          @media (min-width: 1920px) {font-size: 1.2rem;} /* FHD(2K/4K) */
        }
  
        .chord {
          background: none;
          border: none;
          appearance: none;
          font-weight: bold;
          color: red;
          position: relative;
          padding: 0;
          margin: 0;
          text-align: right;
          font-size: 1.2rem;
          margin-top: -3px;
  
          @media (min-width: 384px) {font-size: 1.07rem;}
          @media (min-width: 412px) {font-size: 1.1rem;}
          @media (min-width: 576px) {font-size: 1.1rem;}
          @media (min-width: 768px) {font-size: 1.1rem;}
          @media (min-width: 992px) {font-size: 1.1rem;}
          @media (min-width: 1200px) {font-size: 1.1rem;} /* HD (1080p) */
          @media (min-width: 1920px) {font-size: 1rem;} /* FHD(2K/4K) */
      }
  


      /* Clase renombrada a .mso */
      .mso {
        font-family: 'Material Symbols Outlined Local';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        color: white;
      }

      .mso {
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        transition: transform 0.3s;
      }


      #down .mso:hover {
        transform: translateY(3px); /* Efecto sutil al hover */
      }


      .line {
        position: relative;
        margin-bottom: 20px;
        min-height: 0px;
      }

      #down {
        cursor: pointer;
        display: inline-block;
      }

      .chords {
        position: absolute;
        top: -14px;
        left: 0;
        width: 100%;
        height: 20px;
        pointer-events: none; /* Permite clics en el texto debajo */
      }

      .chord-container {
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        pointer-events: auto; /* Permite interactuar con los selects */

        position: absolute;
        transform: translateX(-50%); /* Centra el acorde en la posición */
        white-space: nowrap;
        pointer-events: auto;
        top: -3px;        /* Este controla la posición del del acorde ↑↓ */
      }

      .no-arrow {
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      .asamblea {
        font-weight: bold;
        color: #2c3e50;
      }

      .contenedor-tabla {
        width: 100%;
        max-width: max-content;
        margin: 20px auto;
        overflow-x: auto;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }

      .home {
        width: 28%;
        background-color: transparent;
        color: black;
        }

        .titulo {
          /* Estilo base (Mobile First) */
          font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
          color: red;
          padding: 12px 15px;
          margin: 0 auto;
          text-align: center;
          font-size: 1.5rem; 
          background-color: white;
          font-weight: bold;
          box-sizing: border-box;
          padding:  0px 12px 0px 12px;
          background-color: transparent;
        
          @media (min-width: 384px) {
          }

          /* Tablets pequeñas (≥576px) */
          @media (min-width: 576px) {
            font-size: 1.35rem;
            padding: 14px 20px;
          }

              /* Tablets (≥768px) */
          @media (min-width: 768px) {
            font-size: 1.5rem; /* Tu tamaño original */
            max-width: 100%;
            border-radius: 6px;
          }

          /* Laptops (≥992px) */
          @media (min-width: 992px) {
            max-width: 100%;
            font-size: 1.7rem;
            padding:  0px 12px 0px 12px;
          }
        
          /* Pantallas grandes (≥1200px) */
          @media (min-width: 1200px) {
            max-width: 100%; /* Mismo ancho que .subtitulo */
            font-size: 1.8rem;
            padding:  0px 12px 0px 12px;
          }
        
          /* Pantallas extra grandes (≥1920px) */
          @media (min-width: 1201px) {
            min-width: 100%;
            font-size: 2rem;
          }
        }


        .subtitulo {
          /* Estilo base (móviles pequeños) */
          width: 75%;
          max-width: 75%;
          padding: 0% 1% 1% 1%;
          box-sizing: border-box;
          margin: 0 auto;
          text-align: center;
          font-size: 0.9rem;
          background-color: white;
          color: #605C5F;
          font-weight: bold;
          background-color: transparent;

          @media (min-width: 384px) {
            width: 100%;
            font-size: 1.1rem;
          }
        
          /* Tablets pequeñas (vertical) */
          @media (min-width: 576px) {
            width: 540px;
            font-size: 1.1rem;
          }
        
          /* Tablets (horizontal) */
          @media (min-width: 768px) {
            width: 100%;
            font-size: 1.5rem;
          }
          
          /* Laptops pequeñas */
          @media (min-width: 992px) {
            width: 75%;
            font-size: 1.3rem;
            
          }
          
          /* Pantallas HD (1080p) */
          @media (min-width: 1200px) {
            width: 75%;
            font-size: 1.2rem;
          }
          
          /* Pantallas grandes (2K/4K) */
          @media (min-width: 1920px) {
            width: 75%;
            font-size: 0.9rem;
          }
        }


        .encabezado-columnas {
          background-color: #2196F3;
          color: white;
      }


      .enlace-columna {
        color: white;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
      }


      .enlace-columna:hover {
        text-decoration: underline;
      }


      /* Modifica el contenedor de columnas para tablet */
      .contenedordecolumnas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 20px;

        @media (min-width: 268px) and (max-width: 394px) {
            margin-left: 0px;
          }

        @media (min-width: 768px) and (max-width: 991px) {
            flex-direction: column;
          }

        @media (min-width: 992px) {
            flex-direction: row;
          }

      }

      .grupo-columnas {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:flex-start;
        margin: 0 auto;
        margin-left: 0px;
        /*margin-top: 30px;*/

        @media (min-width: 268px) and (max-width: 394px) {
          width: 100%;
          max-width: 100%;
          }
        @media (min-width: 768px) {
            width: 100%;
            max-width: 100%;
            margin-left: 0;
          }
        @media (min-width: 992px) {
              width: 50%;
              max-width: 50%;
          }
        }

        .columnas-apiladas {
          width: 100% !important;
          max-width: 100% !important;
          margin: 0 auto;
          margin-left: 21px;
          flex-direction: column;
        }

        /* Estado apilado */

      .grupo-derecho {
        margin-top: 0px;

        @media (min-width: 768px) and (max-width: 991px) {
          margin-top: -6%;
          max-width: 50%;
      }

      }


      .iflecha {
        font-size: 1.5em;
        padding: 5px 15px;
        cursor: pointer;
        border: 1px solid #d7d8da;
        border-radius: 2em;
      }

      .dflecha {
        font-size: 1.5em;
        padding: 5px 15px;
        cursor: pointer;
        border: 1px solid #d7d8da;
        border-radius: 2em;
      }

      .izq {
        width: 100%;
        max-width: max-content;
        padding: 3% 0 0 0;
        margin-top: 0%;
        margin-left: 0%;

        @media (min-width: 384px) {
          max-width: 394px;
          margin-top: 0%;
          margin-left: 5%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            width: 564px;
            max-width: 100%;
        }
      }


      .der {
        max-width: max-content;
        width: 100%;
        max-width: 100%;
        padding: 12px;
        margin-top: 0%;
        margin-left: 25%;

        @media (min-width: 384px) {
          max-width: 394px;
          margin-top: 0%;
          margin-left: 2%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          max-width: 768px;
          margin-top: 12%;
          margin-left: 5%;
        }
      }

      .dbtable {
        max-width: max-content;
        border: 1px solid #ddd;
        padding: 2% 2% 1% 2%;
        border-radius: 10px;
        background: white;
        text-align: left;

        @media (min-width: 768px) and (max-width: 991px) {
            width: 100%;
            max-width: 100%;
            padding: 2%;   
        }
      }

          .dbtable:has(.precat) {background-color: white;}
          .dbtable:has(.liturgia) {background-color: #FFFFCB;}
          .dbtable:has(.cat) {background-color: #bde9ff;}
          .dbtable:has(.eleccion) {background-color:#CEFFCF;}

          th {
            min-width: auto;
            text-align: center;
          }

          .precat, .liturgia, .cat, .eleccion {
            font-size: larger;
            font-family: Franklin Gothic;
            color: black; 
            border: 1px solid black;
            width: 30%;
          }

          .precat {background-color: white;}
          .liturgia {background-color: #FFFFCB;}
          .cat {background-color: rgb(33 150 243);}
          .eleccion {background-color: #CEFFCF;}


          .piecategoria {
            background-color: white;
            border: 1px solid goldenrod;
            display: contents; /*inline-block;*/
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
        }
    
        .ppascua {color: #3dcef0;}
        .ppenteco {color: #f0433d;}
        .plaudes {color: rgb(56, 162, 6);}
        .pcuaresma {color: rgb(59, 6, 87);}
        .padviento {color: rgb(59, 6, 87);}
        .pentrada {color: #3dcef0;}

        .dh {
          display: none;
      }


          .saudio {
            width: 100%;
            display: table-cell;
            background-color: #f1f3f4;
            outline: none;

            @media (max-width: 384px) {
              width: 100%;
            }
        }

        .cno {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: right
        }

        .ta, .tc, .ta1, .ta2, .ta3, .niño, .hombre, .mujer {
          position: relative;
          padding-left: 1.5em;
        }

        .ta::before, .tc::before, 
        .ta1::before, .ta2::before, 
        .ta3::before, .niño::before, 
        .hombre::before, .mujer::before {
          position: absolute;
          left: -6%;
          top: 0px;
          font-size: 18px;
          color: #80808082;
          font-family: Arial, sans-serif;
          line-height: 1.3;
          font-weight: bold;
        
          @media (min-width: 768px) {left: -8%;}
        }

      .ta::before {content: "A.";}
      .tc::before {content: "C.";}
      .ta1::before {content: "A1.";}
      .ta2::before {content: "A2.";}
      .ta3::before {content: "A3.";}
      .niño::before {content: "Niños:";}
      .hombre::before {content: "Hombre:";}
      .mujer::before {content: "Mujer:";}

      .navegar{
        padding: 0.5% 1% 2% 1%;  /* top, right, bottom, left*/
        text-align: center;
      }

      .nav {
        display: inline-block; 
        margin: 0 20px;
        cursor: pointer;
      }

      /* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ OCULTAR CONTENIDO ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
      .hline {
          cursor: pointer;
        }
        
        .dbhide {
          visibility: hidden;
          opacity: 0;
          height: 0;
          overflow: hidden;
        }
        /* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ OCULTAR CONTENIDO ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

        /* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ CSS PARA REPRODUCTOR ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

      /* Estilos para el reproductor */
      #reproductor-audio {
        background: rgba(0,0,0,0.05);
        transition: all 0.3s ease;
      }

      /* Estilos para el botón de control */
      .audio-control {
        cursor: pointer;
        display: inline-block;
        transition: transform 0.2s ease;
      }

      .audio-control:hover {
        transform: scale(1.05);
      }

      .audio-icon {
        font-size: 28px;
        vertical-align: middle;
        color: white;
        transition: all 0.3s ease;
      }
      /* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ CSS PARA REPRODUCTOR ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


      /* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ CSS TRASTE ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

      select.dbMiTraste {
        background-color: transparent;
        color: white;
        padding: 5px;
        font-weight: bold;
        border: none;
        appearance: none;
        font-size: 19PX;
      }

      /* Estilo para las opciones del select */
      select.dbMiTraste option {
        background-color: #333;
        color: white;
      }

      /* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ CSS TRASTE ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */


      /* ACLARACIONES

      /* !important; 
      Es una propiedad CSS que da máxima prioridad, anulando cualquier otra declaración que pueda estar afectando al mismo elemento.

      */


      .last {
        padding-bottom: 7%;

        @media (min-width: 384px) {padding-bottom: 5%;}
        @media (min-width: 412px) {padding-bottom: 5%;}
        @media (min-width: 576px) {padding-bottom: 4%;}
        @media (min-width: 768px) {padding-bottom: 4%;}
        @media (min-width: 992px) {padding-bottom: 7%;}
        @media (min-width: 1200px) {padding-bottom: 7%;} /* HD (1080p) */
        @media (min-width: 1920px) {padding-bottom: 7%;} /* FHD(2K/4K) */
      }

/*  MSO1*/

.mso1 {
  font-family: 'Material Symbols Outlined Local';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  border: 1px solid #d7d8da;
  border-radius: 2em;
  cursor: pointer;
}

/* MOSTRAR IMAGENES */

.notas-enlace {
  padding: 2px;
  border: 1px solid #f2e5e5;
  display: inline-block;
  margin: 2px;
  text-decoration: none;
  color: inherit;
}

.notas-columna {
  float: left;
}

#imagen-container {
  display: none;
  position: relative;  /* Cambiado de 'relative' a 'fixed' */
  width: 15%;
  background: white;
  border: 1px solid #f2e5e5;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
  align-items: center;
  box-sizing: border-box;
}

#imagen-nota {
  max-width: 7rem;
  object-fit: contain;
}


/*****************  BUSCADOR EN EL CANTO ******************/

.buscador-cantos {
  margin: 0 auto 20px;
  max-width: 600px;
  position: relative;
}
#inputBusqueda {
  /*width: 100%; */
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#resultadosBusqueda {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  z-index: 1000;
}
.resultado-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.resultado-item:hover {
  background: #f5f5f5;
}
