    
.ast1 {
    @media (min-width: 384px) {left: 5rem;}
    @media (min-width: 768px) {left: 8rem;}
    @media (min-width: 992px) {left: 5.6rem;}}
.ast2 {
    @media (min-width: 384px) {left: 13.5rem;}
    @media (min-width: 768px) {left: 21rem;}
    @media (min-width: 992px) {left: 15.5rem;}}
.ast3 {
    @media (min-width: 384px) {left: 9.2rem;}
    @media (min-width: 768px) {left: 14.5rem;}
    @media (min-width: 992px) {left: 10.5rem;}}

.ast4 {
    @media (min-width: 384px) {left: 8.3rem;}
    @media (min-width: 768px) {left: 13rem;}
    @media (min-width: 992px) {left: 9.5rem;}}

.ast5 {
    @media (min-width: 384px) {left: 11rem;}
    @media (min-width: 768px) {left: 16.5rem;}
    @media (min-width: 992px) {left: 12.5rem;}}

.ast6 {
    @media (min-width: 384px) {left: 7.2rem;}
    @media (min-width: 768px) {left: 11.5rem;}
    @media (min-width: 992px) {left: 8.5rem;}}

    