.izq {
    @media (min-width: 768px) {
        margin-left: 8%;
    }
}

.der {
    @media (min-width: 768px) {
        margin-left: 8%;
    }
}

.solyluna {
    @media (min-width: 768px) {left: 120px;}
    @media (min-width: 992px) {left: 92px;}
}

.estrellaslucientes {
    @media (min-width: 768px) {left: 48px;}
    @media (min-width: 992px) {left: 43px;}
}

.espacioscelestes {
    @media (min-width: 768px) {left: 61px;}
    @media (min-width: 992px) {left: 52px;}
}

.aguascuelgancielo {
    @media (min-width: 768px) {left: 20px;}
    @media (min-width: 992px) {left: 22px;}
 }

 .alabennombreSeñor {
    @media (min-width: 768px) {left: 50px;}
    @media (min-width: 992px) {left: 45px;}
 }

 .Élmandóexistieron {
    @media (min-width: 768px) {left: 4px;}
    @media (min-width: 992px) {left: 11px;}
 }

.dioconsistenciaperpetua {
    @media (min-width: 768px) {left: 35px;}
    @media (min-width: 992px) {left: 34px;}
}

.leynopasará {
    @media (min-width: 768px) {left: 97px;}
    @media (min-width: 992px) {left: 80px;}

}

.alabadSeñortierra {
    @media (min-width: 768px) {left: 33px;}
    @media (min-width: 992px) {left: 25px;}
}

.cetáceosabismosmar {
    @media (min-width: 768px) {left: 48px;}
    @media (min-width: 992px) {left: 44px;}
}

.rayosgranizonievebruma{
    @media (min-width: 768px) {left: 35px;}
    @media (min-width: 992px) {left: 34px;}
}

.vientohuracanado {
    @media (min-width: 768px) {left: 89px;}
    @media (min-width: 992px) {left: 73px;}
}

.montestodassierras {
    @media (min-width: 768px) {left: 67px;}
    @media (min-width: 992px) {left: 58px;}
}

.árbolesfrutalescedros {
    @media (min-width: 768px) {left: 84px;}
    @media (min-width: 992px) {left: 71px;}
}

.fierasanimalesdomésticos {
    @media (min-width: 768px) {left: 33px;}
    @media (min-width: 992px) {left: 32px;}
}

.reptilespájarosvuelan {
    @media (min-width: 768px) {left: 39px;}
    @media (min-width: 992px) {left: 37px;}
}

.reyespueblosorbe {
    @media (min-width: 768px) {left: 80px;}
    @media (min-width: 992px) {left: 71px;}
}

.príncipesjefesmundo {
    @media (min-width: 768px) {left: 51px;}
    @media (min-width: 992px) {left: 48px;}
}

.jóvenesdoncellas {
    @media (min-width: 768px) {left: 93px;}
    @media (min-width: 992px) {left: 79px;}
}

.viejosniños {
    @media (min-width: 768px) {left: 35px;}
    @media (min-width: 992px) {left: 34px;}
}

.alabennombreSeñor {
    @media (min-width: 768px) {left: 49px;}
    @media (min-width: 992px) {left: 46px;}
}

.úniconombresublime {
    @media (min-width: 768px) {left: 80px;}
    @media (min-width: 992px) {left: 69px;}
}

.majestadcielotierra {
    @media (min-width: 768px) {left: 97px;}
    @media (min-width: 992px) {left: 82px;}
}

.Éldafuerzavigorsupueblo {
    @media (min-width: 768px) {left: 13px;}
    @media (min-width: 992px) {left: 17px;}
}

.alabanzatodosfieles {
    @media (min-width: 768px) {left: 40px;}
    @media (min-width: 992px) {left: 39px;}
}

.israelpuebloelegido {
    @media (min-width: 768px) {left: 53px;}
    @media (min-width: 992px) {left: 48px;}
}
