.line {
        position: relative;
        margin-bottom: 20px;
        min-height: 0px;

        @media (min-width: 384px) {
          width: 332px;
        }

        @media (min-width: 768px) {
        width: 671px;
        }

        @media (min-width: 992px) {
            width: 496px;

        }

      }
/*
.izq {
    @media (min-width: 384px){
        margin-left: 4% !important;
    }
    @media (min-width: 768px){
        margin-left: 10% !important;
    }
    @media (min-width: 992px){
        margin-left: 10% !important;
    }
}


.der {margin-left: 10% !important;}


.ta::before, .tc::before {
    @media (min-width: 768px) {
        left: -13%;
    }
}
    */