.izq {
    @media (min-width: 384px) {margin-left: 6%;}
    @media (min-width: 768px) {margin-left: 5%;}
}

.der {
    @media (min-width: 384px) {margin-left: 6%;}
    @media (min-width: 768px) {margin-left: 5%;}
}

    .r1::before, .r2::before {
            font-size: 1.3rem;
        }

    .r1::before {
        @media (min-width: 384px) {
            height: 68px;
            margin-left: 84%;
        }
        @media (min-width: 768px) {
            height: 115px;
            margin-left: 73%;
    }
        @media (min-width: 992px) {
            height: 58px;
            margin-left: 59%;
        }
    }

    .r2::before {
        @media (min-width: 384px) {
            height: 163px;
            margin-left: 93%;
            margin-top: -14%;
        }
        
        @media (min-width: 768px) {
        height: 256px;
        margin-left: 85%;
        margin-top: -9%;
        }

        @media (min-width: 992px) {
            height: 150px;
            margin-left: 59%;
            margin-top: -9%;
        }
    }
