.mayusc {
    text-transform: uppercase;
}

    .niño {
        @media (min-width: 384px) {
            font-size: 75%;
            margin-left: -39px;
        }
        
        @media (min-width: 768px) {
            font-size: 1rem;
            margin-left: -12%;
        }
        @media (min-width: 992px) {
            font-size: 100%;
            margin-left: -55px;
        }
    }

.izq {
    @media (min-width: 384px) {
        margin-left: 28px;
    }
    
    @media (min-width: 768px) {
        margin-left: 10%;
    }
    
    @media (min-width: 992px) {
        margin-left: 16%;
    }
}


.r1::before {
    @media (min-width: 384px) {
        height: 64px;
        margin-left: 64%;
        margin-top: 0%;
    }
    @media (min-width: 768px) {
        height: 78px;
        margin-left: 53%;
        margin-top: 0%;
    }
    @media (min-width: 992px) {
        height: 64px;
        margin-left: 53%;
        margin-top: 0%;
    }
}