        .r1::before, .r2::before {

            @media (min-width: 384px) {
                height: 151px;
                margin-left: 88%;
                margin-top: 0%;
            }
            @media (min-width: 768px) {
                height: 254px;
                margin-left: 72%;
                margin-top: 0%;
            }
            @media (min-width: 992px) {
                height: 151px;
                margin-left: 56%;
                margin-top: 0%;
            }
        }