    .csv {
        color: rgb(196 76 75);;
        @media (min-width: 384px) {font-size: 1rem;}
        @media (min-width: 768px) {font-size: 1.63rem;}
        @media (min-width: 992px) {font-size: 1rem;}
    }
    .chord {
        @media (min-width: 384px) {
            font-size: 1.1rem;
            margin-left: 5px;
        }
        @media (min-width: 768px) {font-size: 1.63rem;}
        @media (min-width: 992px) {font-size: 1rem;}
    }
