.line {
        @media (min-width: 992px) {
            width: max-content;
        }
    }

    .gris {
        width: 10px;
        color: #989696
    }

    .lyrics {
        @media (min-width: 384px) {
            font-size: 75%;
        }

        @media (min-width: 768px) {
            font-size: 1.65rem;
        }

        @media (min-width: 992px) {
            font-size: 1.23rem;
        }
    }

    .alyrics {
        @media (min-width: 384px) {
            font-size: 74%;
        }

        @media (min-width: 768px) {
            font-size: 1.5rem;
        }

        @media (min-width: 992px) {
            font-size: 1.23rem;
        }
    }

    .ta::before, .tc::before {
        @media (min-width: 384px) {
            font-size: 75%;
            left: -5%;
            top: -1%;
        }
        @media (min-width: 768px) {
            font-size: 1.6rem;
            left: -5%;
            top: -1%;
        }
        @media (min-width: 992px) {
            font-size: 100%;
            left: -5%;
            top: -1%;
        }
    }


    .izq {
        @media (min-width: 384px) {
            margin-left: 2%;
        }
        @media (min-width: 768px) {
            margin-left: 0%;
        }
    }

    .chord {
        @media (min-width: 384px) {
            font-size: 0.56rem;

        }
        @media (min-width: 768px) {
            font-size: 1.28rem;
        }

        @media (min-width: 992px) {
            font-size: 1.22rem;
        }

    }

    .chords {
        @media (min-width: 384px) {
            font-size: 0.56rem;

        }
        @media (min-width: 768px) {
            font-size: 100%;
        }

        @media (min-width: 992px) {
            font-size: 1.22rem;

        }

    }

    .csv {
        @media (min-width: 384px) {
            font-size: 0.56rem;

        }

        @media (min-width: 768px) {
            font-size: 100%;
        }

        @media (min-width: 992px) {
            font-size: 1.22rem;
        }
    }

        .raya1 {
        position: relative;
        min-height: 0px;
    }

            .raya1::before {
                content: "";
                position: absolute;
                border-left: 2px solid #c6c5c5;
                
                /* Media queries para raya1 */
                @media (min-width: 384px) {
                    height: 54px;
                    margin-left: 51%;
                    margin-top: -11%;
                }

                @media (min-width: 768px) {
                    height: 74px;
                    margin-left: 51%;
                    margin-top: -7%;
                }

                @media (min-width: 992px) {
                    height: 69px;
                    margin-left: 54%;
                    margin-top: -9%

                }
            }

        .bis1 {
            position: relative;
            padding-left: 1.5em;
        }
        
        .bis1::before {
            position: absolute;
            font-family: Arial, sans-serif;
            line-height: 1.3;
            font-weight: bold;

            @media (min-width: 384px) {
                font-size: 100%;
                margin-top: -6%;
                margin-left: 48%;
            }

            @media (min-width: 768px) {
                font-size: 140%;
                margin-top: -4%;
                margin-left: 50%;
              }
          
            @media (min-width: 992px) {
                font-size: 1.4rem;
                margin-top: -4%;
                margin-left: 52%;
            }
        }

        .bis1::before {
            color: #80808082;
        }

        .bis1::before {content: "BIS A.";}


        .chord-container {
            @media (min-width: 384px) {
                top: 5px;
            }
            @media (min-width: 768px) {
                top: -7px;
            }
            @media (min-width: 992px) {
                top: -6px;
            }

        }