.myh {

    @media (min-width: 384px) {}
    @media (min-width: 768px) {
        margin-left: 18%;
    }
    @media (min-width: 992px) {}
    margin-left: 18%;
}

.ta::before, .tc::before, .ta1::before, .ta2::before, .ta3::before, .niño::before, .hombres::before, .mujeres::before {
    @media (min-width: 768px) {
        font-size: 22px;
    }
    
    @media (min-width: 992px) {
        font-size: 18px;

    }
}