/*
.izq {
    @media (min-width: 768px) {
        margin-left: 5%;
    }
    
    @media (min-width: 384px) {
        margin-left: 2%;
    }

    @media (min-width: 992px) {
        margin-left: 8%;
    }
}

/*


.contenedordecolumnas {

    @media (min-width: 384px) {margin-left: 1%;}
    @media (min-width: 768px) {margin-left: 5%;}
    @media (min-width: 992px) {margin-left: 7%;}
}

.ta::before, .tc::before {
    @media (min-width: 992px) {left: -9%;}   
}



.ta::before, .tc::before {
    @media (min-width: 384px) {
    left: -5%;
    }

    @media (min-width: 768px) {
    left: 4%;
    }

    @media (min-width: 992px) {
    left: 4%;
    }
}

*/