      .dbtable {

        @media (min-width: 384px) {width: 114%;}
        @media (min-width: 768px) {width: 100%;}
        @media (min-width: 992px) {width: 1024px;}

      }

            .ast1 {
                position: relative;
                min-height: 0px;
            }

            .ast1::before {
                content: "*";
                position: absolute;
                align-content: center;
                color: rgb(196 76 75);
                font-style: italic;
                font-size: 1rem;

                /* Media queries para ast1 */
                @media (min-width: 384px) {
                    height: 140px;
                    margin-left: 76%;
                    margin-top: -5%;
                }

                @media (min-width: 768px) {
                    height: 197px;
                    margin-left: 54%;
                    margin-top: -7%;
                }

                @media (min-width: 992px) {
                    height: 0px;
                    margin-left: 66%;
                    margin-top: 0%

                }
            }