    .r1 {
        position: relative;
        min-height: 0px;
    }

            .r1::before {
                content: "  BIS A.";
                position: absolute;
                align-content: center;
                border-left: 2px solid #c6c5c5;
                
                /* Media queries para r1 */
                @media (min-width: 384px) {
                    height: 140px;
                    margin-left: 76%;
                    margin-top: -5%;
                }

                @media (min-width: 768px) {
                    height: 197px;
                    margin-left: 54%;
                    margin-top: -7%;
                }

                @media (min-width: 992px) {
                    height: 184px;
                    margin-left: 40%;
                    margin-top: 0%

                }
            }

        .r2 {
        position: relative;
        min-height: 0px;
    }

            .r2::before {
                content: "BIS A.";
                position: absolute;
                align-content: center;
                border-left: 2px solid #c6c5c5;
                
                /* Media queries para r2 */
                @media (min-width: 384px) {
                    height: 140px;
                    margin-left: 76%;
                    margin-top: -5%;
                }

                @media (min-width: 768px) {
                    height: 197px;
                    margin-left: 54%;
                    margin-top: -7%;
                }

                @media (min-width: 992px) {
                    height: 160px;
                    margin-left: 60%;
                    margin-top: 4%

                }
            }