.a1, .a2, .a3, .a4, .a5, .a6 {
    width: min-content;
    position: inherit;
}

.a1 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 50%;
    }
    @media (min-width: 768px){
        margin-top: -9%;
        left: 39%;
    }
    @media (min-width: 992px){
        margin-top: -8.79%;
        left: 33%;
    }
}

.a2 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 33%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 27%;
    }
    @media (min-width: 992px){
        margin-top: -8%;
        left: 21%;
    }
}


.a3 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 23%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 22%;
    }
    @media (min-width: 992px){
        margin-top: -8%;
        left: 14%;
    }
}

.a4 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 79%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 64%;
    }
    @media (min-width: 992px){
        margin-top: -8%;
        left: 50%;
    }
}

.a5 {
    @media (min-width: 384px){
        margin-top: -7%;
        left: 79%;
    }
    @media (min-width: 768px){
        margin-top: -4%;
        left: 64%;
    }
    @media (min-width: 992px){
        margin-top: -4%;
        left: 50%;
    }
}

.a6 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 89%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 72%;
    }
    @media (min-width: 992px){
        margin-top: -8%;
        left: 56%;
    }
}

.a7 {
    @media (min-width: 384px){
        margin-top: -7%;
        left: 80%;
    }
    @media (min-width: 768px){
        margin-top: -4%;
        left: 72%;
    }
    @media (min-width: 992px){
        margin-top: -4%;
        left: 56%;
    }
}

.a8 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 39%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 31%;
    }
    @media (min-width: 992px){
        margin-top: -9%;
        left: 25%;
    }
}

.a9 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 65%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 52%;
    }
    @media (min-width: 992px){
        margin-top: -9%;
        left: 41%;
    }
}

.a10 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 44%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 35%;
    }
    @media (min-width: 992px){
        margin-top: -9%;
        left: 27%;
    }
}

.a11 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 37%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 31%;
    }
    @media (min-width: 992px){
        margin-top: -9%;
        left: 24%;
    }
}

.a12 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 50%;
    }
    @media (min-width: 768px){
        margin-top: -9%;
        left: 39%;
    }
    @media (min-width: 992px){
        margin-top: -8.7%;
        left: 33%;
    }
}

.a13 {
    @media (min-width: 384px){
        margin-top: -13%;
        left: 37%;
    }
    @media (min-width: 768px){
        margin-top: -8%;
        left: 31%;
    }
    @media (min-width: 992px){
        margin-top: -8%;
        left: 33%;
    }
}

.aut0 {
    width: auto !important;
}

.tc::before {
    @media (min-width: 768px) {
        left: -6%;
        top: 0.9%;
        font-size: 1.7rem;
    }
    @media (min-width: 992px) {
        font-size: 1.345rem;
        margin-top: -0.431%;
    }
}


.ta::before {
    @media (min-width: 384px) {
        left: 44%;
    }
    @media (min-width: 768px) {
        left: 36%;
        margin-top: 0.9%;
        font-size: 1.7rem;
    }
    @media (min-width: 992px) {
        left: 28%;
        font-size: 1.345rem;
        margin-top: -0.431%;
    }
}


        /* Estilos base para los contenedores */
    .hdb1 {
        display: block; /* Visible por defecto */
        cursor: pointer; /* Indica que es clicable */
    }

    .hdb2 {
        display: none; /* Oculto por defecto */
        cursor: pointer; /* Indica que es clicable */
    }
