.navegar {
    padding: 0% 1% 0% 1%;
}
.rojo {
    color: rgb(196 76 75);
}
.izq, .der {
    @media (min-width: 384px) {
        margin-left: 7%;
    }
}

.fauto {
       @media (min-width: 384px) {
    font-size: medium;
       }
}

.nota1 {
    @media (min-width: 384px) {
        padding-bottom: 25px;
        position: relative;
        left: -2.1rem;
        color: #80808082;
        width: 85%;
    }
        @media (min-width: 768px) {
            font-size: large;
        }
    }

.nota2 {
    @media (min-width: 384px) {
        padding-bottom: 25px;
        position: relative;
        left: -2.1rem;
        color: #80808082;
        width: 85%;
    }
        @media (min-width: 768px) {
            font-size: large;
        }
    }


.nota3 {
    @media (min-width: 384px) {
        padding-bottom: 25px;
        position: relative;
        left: -2.1rem;
        color: #80808082;
        width: 85%;
    }
        @media (min-width: 768px) {
            font-size: large;
        }
    }

            
.nota4 {
    @media (min-width: 384px) {
        font-size: 0.9rem;
        width: 24rem;
        padding-bottom: 15px;
        position: relative;
        left: -2.1rem; 
        color: rgb(122 114 99);
        width: 100%;
    }
        @media (min-width: 768px) {
            font-size: 1.3rem;
            width: 78%;
        }

}

.nota5 {
    color: rgb(196 76 75);
    padding-bottom: 15px;

    @media (min-width: 384px) {}
    @media (min-width: 768px) {
        width: 62%;
        font-size: 1.3rem;
    }
    @media (min-width: 992px) {
        width: 67%;
        font-size: 1rem;

    }
}

.nota5a {
    @media (min-width: 384px) {
        color: rgb(196 76 75);
    }

    @media (min-width: 768px) {
        width: 44%;
        font-size: 1.3rem;
        padding-bottom: 15px;
    }
    @media (min-width: 992px) {
            font-size: 1rem;
        }
    }

.fauto {
       @media (min-width: 384px) {
        font-size: medium;
       }

        @media (min-width: 768px) {
        font-size: 1.612rem;
        }

        @media (min-width: 992px) {
            font-size: 1.22rem;
        }
    }

.fauto1 {
       @media (min-width: 384px) {
        font-size: 1.032rem;
    }
        @media (min-width: 768px) {
            font-size: 1.612rem;
        }

}