.navegar {
    padding: 0% 1% 0% 1%;
}
.rojo {
    color: rgb(196 76 75);
}
.izq, .der {
    @media (min-width: 384px) {
        margin-left: 7%;
    }
}

.nota1 {
    @media (min-width: 384px) {
        padding-bottom: 25px;
        position: relative;
        left: -2.1rem;
        color: #80808082;
        width: 85%;
    }
        @media (min-width: 768px) {
            font-size: 1.2rem;
        }
    }

.nota2 {
    @media (min-width: 384px) {
        padding-bottom: 25px;
        position: relative;
        left: -2.1rem;
        color: #80808082;
        width: 85%;
    }
        @media (min-width: 768px) {
            font-size: 1.3rem;
            margin-left: -25px;
        }
        @media (min-width: 992px) {
            width: 100%;
            font-size: 1rem;
        }

    }


.nota3 {
    position: relative;
    color: #80808082;
    @media (min-width: 384px) {
        padding-bottom: 25px;
        left: -2.1rem;
        width: 105%;
        font-size: 0.88rem
    }
        @media (min-width: 768px) {
            font-size: 1.3rem;
            margin-left: -25px;

        }
        @media (min-width: 992px) {
        width: 100%;
        font-size: 1rem;
        }
    }

            
.nota4 {
        color: #80808082;
        position: relative;
        @media (min-width: 384px) {
            font-size: 0.9rem;
            width: 24rem;
            padding-bottom: 15px;
            left: -2.1rem; 
            width: 100%;
        }
        @media (min-width: 768px) {
            font-size: 1.3rem;
            margin-left: -25px;
            width: 78%;
        }
        @media (min-width: 992px) {
            width: 90%;
            font-size: 1.2rem;
        }


}


.fauto {
       @media (min-width: 384px) {
    font-size: medium;
       }
}

.fauto1 {
       @media (min-width: 384px) {
        font-size: 1.032rem;
    }
        @media (min-width: 768px) {
            font-size: 1.612rem;
        }
        @media (min-width: 992px) {
            font-size: 1.22rem;
        }
    }

    .dbsp22 {

    }