.r1::before, .r2::before {
    @media (min-width: 384px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {
        height: 109px;
        margin-left: 46%;
        margin-top: -9%;
    }
}