.melisma::before {
    @media (min-width: 992px) {
        left: 68%;
    }
}

  .nocopy {
    user-select: none;
    pointer-events: none;
    
    @media (min-width: 384px){
        width: 100%;
        margin-top: -8%;
        margin-left: -4%;
    }
    @media (min-width: 768px){
        margin-top: -11%;
    }
    @media (min-width: 992px){
        width: 93%;
        margin-left: -6%;
        margin-top: -8%;
    }
  }


.imaleft {
    @media (min-width: 384px){
        margin-left: 5%
    }

}


.violin {
    font-style: italic;
    color: red;
    @media (min-width: 384px){
        font-size: 1.2rem;
    }
    @media (min-width: 768px){
        font-size: 1.6rem;
    }
    @media (min-width: 992px){
        font-size: 1.2rem;
    }

    
}