body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Tamaño de fuente base */
}

header {
    background-color: #4CAF50;
    padding: 1.25rem; /* 20px */
    color: white;
    font-size: 1.5rem; /* 24px */
}

.container {
    margin: 3.125rem auto; /* 50px */
    max-width: 23%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.link-button {
    margin: 0.01rem auto;
    padding: 0.4rem;
    font-size: 1.125rem;
    color: #333;
    background-color: white;
    border: 0.125rem solid #61cee9;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    width: 143%;
    min-width: -webkit-fill-available;
}

.link-button:hover {
    background-color: #2a8727;
    color: #e5e4e4;
}

/* Media Queries para responsividad */
@media (max-width: 800px) {
    header {
        font-size: 274%; /* 16px */
        padding: 5%; /* 12px */
    }

    .container {
        max-width: 63%;
        margin: 2%;
    }

    .link-button {
        font-size: 200%;
        margin: 0.5%;
        padding: 3%;
    }
}


@media (max-width: 384px) {
    header {
        font-size: 100%; /* 16px */
        padding: 5%; /* 12px */
    }

    .container {
        max-width: 50%; /* Ajusta el ancho para pantallas muy pequeñas */
        margin: 10%; /* 16px */
    }

    .link-button {
        font-size: 100%;
        margin: 0.51%;
        padding: 3%;
    }
}


/* anterior
 <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f8ff;
            color: #333;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #4CAF50;
            padding: 20px;
            color: white;
            font-size: 24px;
        }
        .container {
            margin: 50px auto;
            max-width: 25%;
			
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        .link-button {
			display: block;
			margin: 0px 0;
			padding: 5px 5px;
			font-size: 18px;
			color: #333;
			background-color: white;
			border: 2px solid #61cee9;
			border-radius: 4px;
			text-decoration: none;
			transition: background-color 0.3s, color 0.3s;
        }
        .link-button:hover {
            background-color: #f0f8ff;
            color: #4CAF50;
        }
    </style>
	*/