body {
    width: 100%;					/*	*/
    max-width: 100%; /* Limita el ancho máximo en pantallas grandes */
/*	width: auto;					/*	*/
/*	width: 100%;					/*	*/
	font-family: sans-serif;		/*	*/
/*	margin: 50;						/*	*/
	padding: 0.5%;						/*	*/
    display: flex;					/*	*/

	margin-top: 3%;		
	margin-right: 3%;	
	margin-left: 3%;	
	margin-bottom: 3%;	
    justify-content: center;		/*	*/
	align-items: center;			/*	*/
    min-height: 100vh;				/*	*/
    background-color: #f9f9f9;		/*	*/

    line-height: 1; /* Reduce el espacio entre líneas */
}

.song-container {
/* LO ESTOY DEFINIENDO POR EL CANTO LA ULTIMA VEZ FUE 43%	*/
    width: 100%; /* Ajusta al 90% del ancho del dispositivo */
    max-width: 800px; /* Limita el ancho máximo en pantallas grandes */
    border: 1px solid #ddd;
	padding: 0.5%;	
    border-radius: 8px;
    background: #fff;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
/*	width: 820px; /* Ajusta al 90% del ancho del dispositivo */
/*    width: 800px; /* Ajusta al 90% del ancho del dispositivo */
/*    width: 43%; /* Ajusta al 90% del ancho del dispositivo */
/*    max-width: 850px; /* Limita el ancho máximo en pantallas grandes */
/*	margin-left: 190px;		*/
/*    margin: 0 auto; /* Centra el contenedor */
}

.atilevantomisojos-song-container{
    width: auto; /* Ajusta al 90% del ancho del dispositivo */
    max-width: auto; /* Limita el ancho máximo en pantallas grandes */
/*    max-width: 850px; /* Limita el ancho máximo en pantallas grandes */
    border: 1px solid #ddd;
	padding: 20px;	
    border-radius: 8px;
    background: #fff;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	justify-content: none;		/*	*/

/*	margin-left: 190px;		*/
/*    margin: 0 auto; /* Centra el contenedor */
}


a {
      text-decoration: none; /* Quitar subrayado */
	  color: Black;
    }
	
a:hover {
      text-decoration: none; /* Opcional: Subrayado al pasar el cursor */
}
hr {
/*	    width: 800px;					/*	*/
	width: auto;					/*	*/
	margin-top: 1px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	clear: both; /* Si hay elementos flotantes */
	margin-top: 3px; /* Espaciado opcional */
	margin-bottom: 4px;
}

.cnumber {
	color: #c0b9b9;
	font-family: Georgia;
    text-align: right;	
	margin-top: -5px;
	font-weight: normal; 
	margin-bottom: 4px;
    margin-right: 10%; /* Margen derecho */
}

.ima {
    max-width: 30%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: 60%; /* Empuja la imagen hacia la derecha */
	font-weight: normal; 
	margin-top: -30px;
/*    margin-bottom: 0px;		/*Aqui tenemos el margen entre lineas db para cuando necesites agregar espacio debajo*/
}

.PreCat {
/*	position: absolute;	
    width: 50px; /* Ajusta el tamaño de la imagen */
/*    margin-right: 70px; /* Margen derecho */
/*    text-align: right; /* Alineación del texto */
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    color: gray;
	
	margin-left: 10%;
	margin-top: 1px;
}

pCatDiv{
	margin-left: 62%;
}

.line {
    display: flex;
    flex-direction: column;
    margin-right: -15px;		/*Aqui tenemos el margen entre lineas db */
    margin-bottom: 5px;		/*Aqui tenemos el margen entre lineas db */
    padding-left: 0.3in;	/* Padding que establece el margen del canto*/
}

@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    src: url('fonts/FranklinGothicDemiCond.ttf') format('truetype');
}

.ttcanto {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 1; /* Reduce el espacio entre líneas */
    font-family: '72 Black', Arial, sans-serif;
}
			
.tcanto {
    color: red;
    font-size: 125%;
    text-align: center;
    font-weight: bold;
	text-shadow: -1px 0px 0px rgba(255, 0, 0, 0.7); /* Sombra roja */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Sombra negra con desenfoque */
}

.alcentro {
    text-align: center;
    font-weight: bold;
    font-size: 100%;
	line-height: .1;
	margin-top: -10px;
/*	padding-bottom: 15px;	*/
}
.chords {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    font-size: 14px;
	line-height: 1.6; /* Ajusta este valor para reducir o aumentar el espacio */
}

.lyrics {
	width: 100%;
	font-family: "Franklin Gothic Medium";
    font-size: 110%;
    color: black;
/*    font-weight: bold;	*/
	line-height: 0.8; /* Ajusta este valor para reducir o aumentar el espacio */
}

.lyrics100 {
	width: 200%;
	font-family: "Franklin Gothic Medium";
    font-size: 100%;
    color: black;
/*    font-weight: bold;	*/
	line-height: 0.8; /* Ajusta este valor para reducir o aumentar el espacio */
}

.alyrics {
	width: 100%;
    color: Black;
    font-weight: bold;
    font-size: 113%;
	font-family: sans-serif;
	line-height: 0.8; /* Ajusta este valor para reducir o aumentar el espacio */
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5); /* Sombra negra con desenfoque */
}

.alyrics100 {
	width: 200%;
    color: Black;
    font-weight: bold;
    font-size: 100%;
	font-family: sans-serif;
	line-height: 0.8; /* Ajusta este valor para reducir o aumentar el espacio */
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5); /* Sombra negra con desenfoque */
}


.cursiva {
    font-style: italic;
    text-align: left;
    margin-left: -38px;
    color: Red; /* Mejora del rojo */
}
.csv {
    font-style: italic;
    text-align: left;
    margin-left: -38px;
    color: Red; /* Mejora del rojo */
}

/*
.cursiva {
    font-style: italic;
    justify-content: left; // Este no es válido para texto; puedes usar text-align
    margin-left: -40px;
    color: red;
}

*/
/* Estilos para el select */
select {
	justify-content: center;
    border: none;
    background: transparent;
    font-size: 14px;
    color: red;
    font-weight: bold;
    width: auto;
    min-width: 50px;
}

select.no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
}

select option {
    background-color: white;
    color: black;
    padding: 5px;
}


.t_0::before, .t_a::before, .t_s::before, {
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 18px;
    color: gray;
    font-family: Arial, sans-serif;
    line-height: 1;
    font-weight: bold;
}

.t_0::before {
    content: "0";
}

.t_a::before {
    content: "A";
}

.t_s::before {
    content: "S";
}

hr style="margin-bottom: 25px;">

.sCejillas{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    font-size: 14px;
}

.dbm {
    margin-bottom: 15px;		/*Aqui tenemos el margen entre lineas db para cuando necesites agregar espacio debajo*/
}

.dbx {
    margin-top: 15px;		/*Aqui tenemos el margen entre lineas db para cuando necesites agregar espacio debajo*/
}

.pantalla {
    width: 50%;
    height: 50vh;
}

.imax{
	max-width: 800px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque */
}

.saudio{
	width: 100%;
	justify-content: center;		/*	*/
/*	align-items: center;			/*	*/
	margin-left: 2%;*/
/*	margin-right: 5%;
	display:absolute;		/*	*/
}


.contenido {
    display: block;
}
.contenido.oculto {
    display: none;
}

/* Ocultando contenido para parte de la asamblea
/* Estilo para el contenedor principal */
.contenido {
    display: block;
}

.contenido.oculto {
    display: none;
}

.linea-principal {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    margin-bottom: 10px;
}


.contenedor {
    display: flex;
    flex-direction: column;
}



/****************************** */
   .linexx {
      margin: 10px 0;
      cursor: pointer;
    }
    .hiddenxx {
      display: none;
    }


/****************************** */
.hlplay {	/* Este es para aparecer el audio y hay que centrarlo*/
	margin: 0;
	cursor: pointer;
	font-size: 150%;
    text-align: center;
	justify-content: center;		/*	*/

	

}

.hline {
  margin: 10px 0;
  cursor: pointer;
}

.hidden {
  display: none;	
}

.coro-group {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc; /* Opcional: Borde para separar grupos */
  border-radius: 5px;
}


/* --------------------------------------------------*/
 /* Ocultar la división por defecto */
        #myDiv {
            display: none;
            border: 1px solid black;
            padding: 10px;
            margin-top: 10px;
        }

        /* Mostrar la división cuando es objetivo del enlace */
        #myDiv:target {
            display: block;
        }


/* --------------------------------------------------*/



/* Contenido db en el que deshabilita el DIV
.cdb {
    display: none;
}
*/

/* css
Cambiamos divoff
desactivable por doff y a deshabilitado por divoff
*/
.doff {
    /* Estilo normal de los divs */
		float: left;
/*	width: 50%;
/*	width: 100%;*/
	text-align: left;
  }

.doff.divoff {
    transform-origin: center; /* Define el punto desde donde se realiza el zoom */
    /* -------------------------------------------*/
	float: left;
	width: 100%;
/*		float: left;	*/
/*		text-align: left;	*/
/*		justify-content: right;		/*	*/
	display: table-caption;
  }

/* Columna div */
.cdiv {
	float: left;
	width: 50%;
/*	width: 100%;*/
	text-align: left;
}

/*
para poner en body
display: table-caption;
*/

.bmusic {
    width: 3%;
    margin-left: 230px; /* Ajusta este valor según sea necesario */
    margin-top: -7px;
	color: #32325f;
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url(https://fonts.gstatic.com/icon/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsKTDp00f3PbrN41X7o&skey=b8dc2088854b122f&v=v225) format('woff2');
}

.mso {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
	line-height: 0;
	letter-spacing: normal;
	text-transform: none;
	display: table-caption;

	white-space: nowrap;
	word-wrap: normal;
	direction: 1tr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/* MUESTRA DE IMAGEN */

 .imajpg {
      margin-left: 48%;
      cursor: pointer;
      transition: transform 0.3s;
    }
    .imajpg:hover {
      transform: scale(1.05);
    }

    /* Contenedor del modal */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    /* Mostrar el modal cuando el enlace es el objetivo */
    #modal:target {
      display: flex;
    }

    /* Contenido del modal */
    .modal-content {
      max-width: 90%;
      max-height: 90%;
    }

    .modal-content img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    /* Botón de cierre */
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 24px;
      color: white;
      text-decoration: none;
    }